[Unit]
Description=The Soh-Router service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=soh-router

ExecStart=/usr/sbin/soh-router
SuccessExitStatus=2
Restart=on-failure
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
